@import 'tailwindcss/base';
@import 'container';
@import 'tailwindcss/utilities';

@layer utilities{
	.tw-button{
		@apply font-normal bg-orange-medium text-orange-very-dark hover:bg-orange-dark hover:text-orange-light tracking-widest transition-colors text-center text-xl uppercase px-4 py-4;
	}
	.tw-button-light{
		@apply hover:bg-orange-medium hover:text-orange-very-dark bg-orange-dark text-orange-light;
	}	
}

.text-shadow {
	text-shadow: 0 0 8px rgba(0,0,0,0.40);
}
.date, .teacher{
	span:not(:last-child){
		&:after{
			content: ' & ';
		}
	}
}
.category{
	span:not(:last-child){
		&:after{
			content: ' - ';
		}
	}
}
.single-mt_events, .page-template-page-template-events-overview{
	font-family: 'Source Sans Pro', sans-serif;
	.label{
		@apply text-orange-dark font-semibold font-sans text-sm md:text-base uppercase;
	}
}

.page-template-page-template-events-overview, .tax-mt_category, .tax-teacher{
	.event-item{
		&:hover{
			.teacher{
				@apply text-orange-dark;
			}
		}
	}
	.dropdown:focus-within .dropdown-menu {
		opacity:1;
		transform: translate(0) scale(1);
		visibility: visible;
	}	
}

.single-mt_events{
	.details{
		@apply font-semibold text-base text-black text-opacity-50;
	}
	main{
		> div > :first-child{
			@apply mt-0;
		}
		a{
			@apply font-semibold hover:underline transition-colors;
		}
		h1,h2,h3,h4,h5,h6{
			@apply text-orange-dark tracking-wide font-semibold font-sans-alt normal-case mb-1;
		}
		h1{
			@apply mt-6 text-4xl;
		}
		h2{
			@apply mt-6 text-3xl;
		}
		h3{
			@apply mt-5 text-2xl;
		}
		h4{
			@apply mt-4 text-xl;
		}		
		h5{
			@apply mt-4 text-lg;
		}
		h6{
			@apply mt-4 text-lg;
		}		
		p{
			@apply mb-2;
		}
		ul,ol{
			@apply mb-2;			
		}
		ul{
			@apply list-disc list-inside;
		}
		ol{
			@apply list-decimal list-inside;
		}
		blockquote p{
			@apply text-orange-medium font-sans-alt font-bold italic text-3xl;
			&:before, &:after{
				content:'"';
			}
		}
	}

	.pt-checkout-form{
		@apply w-full border-none flex flex-wrap;
		::placeholder {
			@apply text-orange-dark;
			opacity: 1;
		}		
		.pt-form-group-field-firstname, .pt-form-group-field-lastname, .pt-form-group-field-email, .pt-form-group-field-text, .pt-form-group-field-date, .pt-form-group-field-dropdown, .pt-form-group-field-textarea{
			@apply sm:w-1/2 w-full px-2;
			label{
				@apply hidden;
			}
			input, select, textarea{
				@apply pt-2 pb-1 px-4 text-lg font-medium font-sans bg-orange-very-light rounded-none border-none;
			}
			select{
				@apply text-orange-dark;
			}
		}
		.pt-form-group-field-textarea{
			@apply w-full;
			label{
				@apply block text-orange-light;
			}
			textarea{
				@apply w-full h-28 resize-none;
			}

		}
		.has-quantity-input{
			@apply flex w-full mx-2 items-center relative;
			label{
				@apply order-1 w-5/12 sm:w-1/2 text-left sm:text-right text-white sm:text-2xl text-lg font-normal sm:pr-5 mb-0;
			}
			.pt-quantity-amount{
				@apply flex w-6/12 sm:w-5/12 justify-between items-center order-2 text-2xl sm:text-4xl font-semibold text-orange-medium;
				&:after{
					@apply block text-base text-black text-opacity-30;
					content:' aantal  ';
					white-space: pre;
					line-height: 40px;
				}
			}
			.pt-quantity-input{
				@apply order-4 py-2 w-1/12 max-w-max bg-orange-light ml-0;
			}
			.pt-items-left{
				@apply absolute -bottom-2 right-1/2 pr-4 text-xs text-orange-medium uppercase tracking-wide font-semibold;
			}
			.pt-form-alert{
				@apply flex items-center bg-transparent p-0 text-white text-2xl font-normal text-left;
				span{
					@apply w-1/2 block;
					/* width:50%; */
					&:first-of-type{
						@apply text-right pr-4;
					}
					&:last-of-type{
						@apply text-orange-medium text-2xl;
					}
				}
				width:200%;
			}
		}
		.pt-form-group-label{
			@apply mt-4;
		}
		.pt-form-group-label + .pt-form-group-label{
			@apply mt-0;
		}
		.pt-form-group-label:not(.has-quantity-input){
			@apply w-full;
			label{
				@apply w-5/12 sm:w-1/2 sm:text-right text-left text-white sm:text-2xl text-lg font-normal sm:pr-5 pl-2 sm:pl-0 relative;
					&:after{
						@apply absolute w-full left-full text-xl text-left text-orange-medium text-2xl;
						content:'Niet meer beschikbaar';
					}

				span{

					@apply absolute w-full left-full text-xl text-left font-semibold text-orange-medium-dark hidden;

				}
			}
		}
		.pt-form-group-total-amount{
			@apply px-2 sm:px-0 pt-4 w-full font-normal border-t-4 border-dotted border-orange-medium-dark text-2xl sm:text-right text-white;
			span{
				@apply text-2xl sm:text-4xl w-7/12 sm:w-1/2 float-right text-left sm:ml-4 text-orange-light font-bold;
			}
		}
		.pt-payment-btn{
			@apply tw-button hover:bg-orange-very-dark rounded-none mx-auto;
/* 			@apply font-normal bg-orange-medium text-orange-very-dark hover:bg-orange-dark hover:text-orange-light tracking-widest transition-colors text-center text-xl uppercase px-4 py-4;
 */			/* @apply bg-orange-light text-orange-dark hover:bg-orange-very-light rounded-none mx-auto;	 */
		}		
	}
}
.triangle-red{
	@apply relative;
	&:before{
		@apply absolute top-0 left-1/2;
		content:'';
		display:block;
		width: 0; 
		height: 0; 
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 30px solid #FDE8DA;
		transform:translateX(-50%);
	}
	&:after{
		@apply bg-orange-light absolute block bottom-8 w-1/4 left-1/2;
		content:'';
		height:1px;
		transform:translateX(-50%);
	}
}

::selection {
	@apply text-white;
	background-color: #da9b74;
}